{% extends 'common/org_base.html' %}

{% block title %}
    机构教师
{% endblock %}

{% block right_content %}
    <div class="right companycenter layout">
        <div class="head">
            <h1>机构教师</h1>
            <a class="green fr more" href="org-detail-teachers.html">查看更多 > </a>
        </div>

        <div class="diarys">
            <div class="module5 share company-diary-box" style="padding:10px 0;">
                <div class="left">
                    <img class="pic" src="/static/media/teacher/2016/11/aobama_CXWwMef.png"/>
                    <p>昵称：bobby</p>
                </div>
                <div class="right">
                    <div class="top">
                        <div class="fl">
                            <a href=""><h1>java开发教程</h1></a>
                            <span>发表于：2015-10-12</span>
                        </div>
                    </div>
                    <div class="middle" style="border-bottom:0;">课程介绍</div>
                </div>
            </div>
        </div>


    </div>
{% endblock %}